button {
  border-radius: 5px;
  margin: 3px;
  background-color: #007bff;
  color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:hover {
    background-color: #0056b3;
  }

button:disabled {
    background-color: #8dc5e6;
    cursor: default;
    box-shadow: none;
}


body{
    height: fit-content;
}

.key-mapping{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.key-mapping:not(:last-child) {
    margin-bottom: 5px; 
  }

.output-container {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}

.output-container > .output-key {
  width: 30%; /* Adjust the width as per your layout */
  margin: 0;
}

/* Create a new row for every 3rd element */
.output-container > .output-key:nth-child(3n) {
  margin-right: 0;
}


.input-key {
  width: 100px;
}

.output-key {
  width: 40px;
}

.input-key-label {
  padding-left: 2px;
  padding-right: 2px;
}

.output-key-label {
  padding-left: 2px;
  padding-right: 2px;
}
