button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.65rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: flex-end;
  text-align: center;
  min-width: 70px;
  width: fit-content;
  white-space: nowrap;
  /* border-radius: 5px;
  margin: 3px;
  background-color: #007bff;
  color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer; */
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #8dc5e6;
  cursor: default;
  box-shadow: none;
}

body {
  height: fit-content;
  min-width: 310px;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 15;
}

header {
  display: flex;
  gap: 15px;
  border-bottom: 2px wheat solid;
  padding: 0 0 5px 0;
  margin-bottom: 5px;
  align-items: center;
}

.key-mapping {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.key-mapping:not(:last-child) {
  margin-bottom: 5px;
}

.output-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.output-container > .output-key {
  width: 30%;
  margin: 0;
}

/* Create a new row for every 3rd element */
.output-container > .output-key:nth-child(3n) {
  margin-right: 0;
}

.input-key {
  width: 100px;
  padding: 2px;
}

.output-key {
  width: 40px;
  padding: 2px;
}

.input-key-label {
  padding-left: 2px;
  padding-right: 2px;
}

.output-key-label {
  padding-left: 2px;
  padding-right: 2px;
}

.label-value-pair {
  display: flex;
  gap: 3px;
}

#mapping-space {
  margin-bottom: 15px;
}

.gapped-row {
  display: flex;
  gap: 15px;
}
