body {
  /* height: fit-content; */
  /* min-width: 310px; */
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 5px 30px;
}

header {
  display: flex;
  gap: 15px;
  border-bottom: 2px wheat solid;
  padding: 0 0 5px 0;
  margin-bottom: 25px;
  align-items: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.65rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* align-self: flex-end; */
  text-align: center;
  min-width: 70px;
  width: fit-content;
  white-space: nowrap;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #8dc5e6;
  cursor: default;
  box-shadow: none;
}

.key-mapping {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}

label {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.key-mapping:not(:last-child) {
  margin-bottom: 5px;
}

.output-container {
  display: flex;
  flex-wrap: wrap;
}

.output-container > .output-key {
  width: 40px; /* Adjust the width as per your layout */
  margin: 0;
}

.input-key {
  width: 100px;
}

.output-key {
  width: 40px;
}

.input-key-label {
  padding-left: 2px;
  padding-right: 2px;
}

.output-key-label {
  padding-left: 2px;
  padding-right: 2px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mapping-div {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(to right, #6fb3fb, #d7e8f9);
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#devices-space {
  margin-top: 10px;
}

.mapping-div:not(:last-child) {
  margin-bottom: 15px;
}

.row-elements-on-sides {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label-value-pair {
  display: flex;
  gap: 5px;
  align-items: baseline;
}
/* h2 {
  margin: 0px;
  padding: 0px;
} */
